* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --pink: #7e0202;
    --baby-blue: #000000;
    --purple: #ffffff;
    --gray: #130b80;
}